In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\HARI KRISHNA\Downloads\cleaned_all_phones.csv")

In [3]:
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,01-09-2016,140,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,01-12-2016,140,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,01-01-2017,147,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,01-01-2017,165,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,01-02-2017,145,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,18-08-2023,190,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,23-08-2023,190,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,28-08-2023,205,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,28-08-2023,205,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,31-08-2023,175,...,True,True,False,True,False,False,False,False,False,287.988

In [4]:
datac=data.copy()

In [5]:
datac

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,01-09-2016,140,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,01-12-2016,140,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,01-01-2017,147,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,01-01-2017,165,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,01-02-2017,145,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,18-08-2023,190,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,23-08-2023,190,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,28-08-2023,205,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,28-08-2023,205,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,31-08-2023,175,...,True,True,False,True,False,False,False,False,False,287.988

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   int64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(2), int64(4), object(6)
memory usage: 156.6+ KB

# q1): how many unique mobiles are there

In [7]:
brands=datac["brand"].unique()
len(brands)

13

# q2):What is the average ram in all mobiles

In [8]:
data["ram(GB)"].mean()

6.6838624338624335

# q3a):Which phone is having the maximum battery

In [9]:
datac.loc[datac['battery']==datac['battery'].max(),['phone_name','battery']]

    phone_name  battery
573         V6     7250

# q3b):Which phone is having the minimum battery

In [10]:
datac.loc[datac['battery']==datac['battery'].min(),['phone_name','battery']]

           phone_name  battery
62           iPhone 8     1821
536  iPhone SE (2020)     1821

# q4):What is the maximum battery capacity of huawei

In [11]:
datac.loc[datac["brand"]=="Huawei",["battery"]].max()

battery    7000
dtype: int64

# q5a):Which phone battery has the mimimum RAM

In [12]:
data.loc[data['ram(GB)']==data['ram(GB)'].min(),['brand','ram(GB)']]

       brand  ram(GB)
27    Huawei        1
28   Samsung        1
69   Samsung        1
133   Huawei        1
182  Samsung        1
230  Samsung        1
236   Huawei        1
244   Xiaomi        1
304  Samsung        1
363       LG        1
550  Samsung        1

# q5a):Which phone battery has the mimimum RAM

In [13]:
data.loc[data['ram(GB)']==data['ram(GB)'].max(),['brand','ram(GB)']]

        brand  ram(GB)
1505   Xiaomi       24
1506  OnePlus       24
1510   Realme       24

# q6): How many phones has android 7.0 as there operating system

In [14]:
len(data.loc[data["os"]=="Android 7.0",["phone_name","os"]])

33

# q7):what is the oldest phone announced also give date of announcement

In [18]:
datac.loc[datac['announcement_date']==datac['announcement_date'].min(),['phone_name','announcement_date']]

       phone_name announcement_date
2  P8 Lite (2017)        01-01-2017
3    Redmi Note 4        01-01-2017

# q8a):Which brand is having least no of phones produced

In [19]:
datac["brand"].value_counts()

Xiaomi     264
Oppo       213
Samsung    206
Vivo       168
Realme     157
Huawei     137
Honor      124
LG          75
OnePlus     47
Lenovo      43
Sony        37
Apple       22
Google      19
Name: brand, dtype: int64

# q8):Which brand is having highest no of phones produced

In [20]:
datac["brand"].value_counts()

Xiaomi     264
Oppo       213
Samsung    206
Vivo       168
Realme     157
Huawei     137
Honor      124
LG          75
OnePlus     47
Lenovo      43
Sony        37
Apple       22
Google      19
Name: brand, dtype: int64

# q 9)a):How many phones support 4K videos

In [21]:
datac.loc[datac['video_4K']==True,['phone_name']].count()

phone_name    801
dtype: int64

# q 9)b):How many phones support 8K videos

In [22]:
datac.loc[datac['video_8K']==True,['phone_name']].count()

phone_name    86
dtype: int64

# q 9)c):How many phones support 2K or 1080p videos

In [23]:
datac.loc[datac['video_1080p']==True,['phone_name']].count()

phone_name    1503
dtype: int64

# q10a):Give me the phone name and brand name having costliest phones

In [24]:
datac.loc[datac['price(USD)']==datac['price(USD)'].max(),['phone_name','brand','price(USD)']]

    phone_name   brand  price(USD)
777     P40 4G  Huawei      2300.0

# q10b):Give me the phone name and brand name having cheapest phones

In [25]:
datac.loc[datac['price(USD)']==datac['price(USD)'].min(),['phone_name','brand','price(USD)']]

    phone_name   brand  price(USD)
452        C2s  Realme        40.0

# q 10): How many phones supports Li-Po and Li-ion Battery

In [26]:
a=data.loc[data["battery_type"]=="Li-Po",["phone_name"]].count()
b=data.loc[data["battery_type"]=="Li-Ion",["phone_name"]].count()
print("phones that supports Li-po battery\n",a)
print("phones that supports Li-ion battery\n",b)

phones that supports Li-po battery
 phone_name    1242
dtype: int64
phones that supports Li-ion battery
 phone_name    270
dtype: int64

# q 11): How many sony phones supports 720x1280 resolution

In [27]:
print(len(data.loc[data["resolution"]=="720x1280",["brand","phone_name"]]))
data.loc[data["resolution"]=="720x1280",["brand","phone_name"]]

41

       brand          phone_name
0     Huawei        Y6II Compact
1         LG            K20 plus
5       Sony          Xperia XA1
9         LG            X power2
13      Sony           Xperia L1
14      Oppo                 A39
16   Samsung     Galaxy Xcover 4
17   Samsung         Galaxy J7 V
20    Huawei           Y5 (2017)
21        LG             Harmony
23    Huawei           Y6 (2017)
24    Huawei                  Y7
30    Xiaomi        Redmi 4 (4X)
40   Samsung    Galaxy J5 (2017)
41    Huawei            Y7 Prime
47    Huawei        P9 lite mini
48      Sony  Xperia XZ1 Compact
56      Oppo                 A71
59    Lenovo                  K8
66      Sony    Xperia R1 (Plus)
74    Xiaomi  Redmi Y1 (Note 5A)
77    Xiaomi       Redmi Y1 Lite
79    Xiaomi            Redmi 5A
90        LG            Aristo 2
91        LG                 X4+
93      Sony           Xperia L2
96        LG          K10 (2018)
98      Oppo          A71 (2018)
99        LG           K8 (2018)
116       LG              Zone 4
126  Samsung       Galaxy J7 Duo
136  Samsung           Galaxy J4
149       LG                 K30
153  Samsung    Galaxy J7 (2018)
154  Samsung    Galaxy J3 (2018)
168       LG            K11 Plus
169       LG           X power 3
187       LG               Candy
244   Xiaomi            Redmi Go
245       LG      Tribute Empire
339  Samsung    Galaxy Xcover 4s

# q 12): Print a pivot table for finding the average weights ,total weights,based on brand and battery type

In [28]:
pd.pivot_table(data,index="brand",columns="battery_type",values=["weight(g)"],aggfunc=["mean"])

                    mean
               weight(g)
battery_type      Li-Ion       Li-Po
brand
Apple         186.227273         NaN
Google        190.666667  176.923077
Honor         165.333333  190.611570
Huawei        158.354839  187.556604
LG            154.851852  183.812500
Lenovo        190.142857  218.586207
OnePlus              NaN  191.553191
Oppo          157.833333  183.174603
Realme        166.833333  189.688742
Samsung       178.531250  196.727273
Sony          177.333333  178.769231
Vivo                 NaN  190.232143
Xiaomi        179.294118  195.906883